.anims__imgForward {
  width: 90vw;
  height: 30vh;
  margin-left: -100vw;
  margin-top: 2vh;
}
.anims__imgBackward {
  width: 90vw;
  height: 30vh;
  margin-left: 100vw;
  margin-top: 2vh;
}
.imgLastForward {
  margin-left: 3vw;
  transition: 2s;
}
.imgLastBackward {
  margin-left: 7vw;
  transition: 2s;
}
