@import "./reset.scss";

//mixins
@import "./mixins/gridMixin.scss";

// config
@import "./config/root.scss";

// blocs
@import "./blocs/presentation.scss";
@import "./blocs/cutter.scss";

// positionning
@import "./positionning/grid.scss";

// anims
@import "./anims/img.scss";

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}
