.cardImg {
  display: flex;
  flex-direction: row reverse;
  // height: 70vh;
  border: 1px solid white;
  // padding: 1.5rem;
  // text-align: center;
}
.cardImg > img {
  border: 1px solid white;
}
.cardText {
  background-color: black;
  color: white;
  border: 1px solid white;
  font-family: "Indie Flower", cursive;
  // padding: 1.5rem;
  // text-align: center;
}
.cardText > div {
  padding: 2rem;
}
