.cardImg {
  display: flex;
  flex-direction: row reverse;
  // height: 70vh;
  border: 5px double white;
  // padding: 1.5rem;
  // text-align: center;
}
.cardImg > img {
  border: 1px solid white;
}
.cardText {
  background-color: black;
  color: white;
  border: 1px solid white;
  font-family: "Indie Flower", cursive;
  // padding: 1.5rem;
  // text-align: center;
}
.cardText > div {
  padding: 2rem;
}
.cardText__logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.cardText__logo > img {
  margin: 2vh;
  width: calc(100% * (1 / 2) - 4vh);
  flex-grow: 1;
}
.cardText__logo > img:nth-child(1) {
  margin: 6vh;
  width: calc(100% * (1 / 2) - 12vh);
  flex-grow: 1;
}
.logo {
  background-color: #ffffff;
  border: 5px double black;
}
.cardImg__logo {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
.cardImg__logo > span {
  font-size: 4rem;
  display: flex;
}
.cardImg__logo > span > p {
  font-size: 1rem;
}
.cardImg__letter {
}
