.cutter {
  background-color: var(--backgroundColor);
}
.cutter__space {
  width: 50vw;
  height: 10vh;
  margin-left: 50vw;
  background-color: #000;
}
.cutter__triangle {
  width: 0;
  margin-left: 50vw;
  border-bottom: 20vh solid var(--backgroundColor);
  border-right: 50vw solid #000;
}
