.presentationOne {
  background-image: url(./../assets/models/alpha.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.presentationOne__bloc {
  background-color: #313131;
  margin-left: 50vw;
  width: 50vw;
  height: 100vh;
  mix-blend-mode: multiply;
}

.presentationTwo {
  background-color: $backgroundColor;
  background-size: cover;
  width: 100vw;
  height: auto;
}

.presentationTwo__bloc {
  background-color: $backgroundColor;
  width: 50vw;
  height: 100vh;
}

.presentationTwo__anims {
  display: flex;
  flex-direction: column;
}
